 

body {
  background-image: url(../images/bg1.jpg), url(../images/bg2.jpg), url(../images/bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-origin: border-box;
  background-clip: content-box, padding-box;
  animation: slide 10s infinite;
}

 @keyframes slide {
      0% {
        background-image: url(../images/bg1.jpg);
      }
      33.33% {
        background-image: url(../images/bg2.jpg);
      }
      66.66% {
        background-image: url(../images/bg3.jpg);
      }
      100% {
        background-image: url(../images/bg1.jpg);
      }
    }

.form-container {
  display: flex;
  justify-content: center;
  align-items: center ;
  height: 100vh;
}

form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #333;
  text-align: center;
  
}